@charset "UTF-8";
$innergreen: #C08497;
$salmonpink: #F7E3AF ;
$maybeorange: #F7AF9D;
$lemonmeringue: #F3EEC3 ;
$pastelblue: #b0d0d3;
$border:  0.3rem solid $maybeorange;



body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: $salmonpink;
  font-size: 18px;
}

.container {
  margin: 0 auto;
  width: 90%;
}

/* Css till indexsidan- första diven och första textboxen */
.del-1 {
  border: $border;
  background: $salmonpink;
  background-size: cover;
  background-position: bottom;
  display:flex;
  align-content:center;
  align-items: center;
}

#textbox1 {
  background-color: $salmonpink;
  padding: 1rem;
  opacity: 0.75;
  overflow-wrap: break-word;
  margin:auto;
  text-align: center;
}

#textbox1box {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 13px;
}

#textbox1box:link {
  text-decoration: none;
  color: black;
}

#textbox1box:visited {
  text-decoration: none;
  color: black;
}

.textbox2 {
  height: auto;
  padding: 1rem;
  border: $border;
  background: $pastelblue;
  text-transform: uppercase;
  font-family: "Calibri", cursive;
  font-size: 23px;
  letter-spacing: 4px;
  display: flex;
  justify-content: space-around;
}

/* Css till textboxar 3 och 4 */
.textbox3 {
  border:$border;
  background-color: $salmonpink;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-around;
}
.textbox3 #textbox3box1 {
  width: 15rem;
  background-color: $salmonpink;
  padding: 1rem;
  opacity: 0.9;
  height: auto;
  border: $border;

  overflow: none;
}
.textbox3 #textbox3box2 {
  height: auto;
  width: 15rem;
  background: $salmonpink;
  padding: 1rem;
  opacity: 0.9;
  border: $border;

  overflow: none;
}

//header css
/* .header {

}
.header img {
//border: $border;
  width: 200px;
  height: 150px;
} */

/* Css till navbar */
.navbar {
  //border: $border;
  background: $salmonpink;
}
.navbar ul {
  background: $salmonpink;
  list-style-type: none;
  justify-content: space-around;
  border: $border;
  overflow: hidden;
  padding-right: 38px;
  display: flex;
}
.navbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: black;
  opacity: 1;
  transition: 0.2s;
  text-decoration: none;
}
.navbar li a:hover {
  color: #c3bef7;
  opacity: 1;
}

/* Css till footer */
.footer {
  background: $salmonpink;
  display: flex;
  justify-content: space-around;
  border: $border;
  height: 12rem;
  line-height: 24px;
}
.footer .copy {
  font-size: 12px;
  text-transform: uppercase;
}
.footer a:link {
  text-decoration: none;
  color: black;
}
.footer a:visited {
  text-decoration: none;
  color: black;
}

.logga {
 /* border: $border; */
  width: 200px;
  height: 150px;
}

@media screen and (max-width: 768px) {
  .footer {
    font-size: 11px;
    height: 10rem;
  }
  .copy {
    font-size: 7px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .logga {
  /*     border: $border; */
  width: 100px;
  height: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    display: grid;
   }
  #adress {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  #foljoss {
    grid-row-start: 2;
    grid-column-start: 1;
  } 
}




//kontaktformulär css

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid $maybeorange; 
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}


input[type=submit] {
  background-color: $pastelblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



//personboxar css
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}